<!DOCTYPE html>
<html lang="en" data-ng-app="website">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
<meta charset="utf-8">
<title>Platinum System EHR Chiropractic Software</title>
<meta name="keywords" content="EHR Software, Chiropractic, Chiropractic software, platinum system, Platinum System, Insurance Billing, Insurance Billing Software, outsourced billing, Platinum System EHR Chiropractic Software, Chiropractors, chiropractor, health care, health care billing, health care insurance, Chiropractic Software and Billing, EHR, EHR software, patient billing,electronic claims,electronic billing,electronic filing,medical billing, medical billing software,patient statements,patient accounting,chiropractor,billing,billing system, physical therapy software,appointment scheduling,appointment software,scheduler,medical practice management,medical software,Outsourced SMART Billing Solution/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="mt-includes/css/assets.minb9b6.css?_build=1496915265"/>
<link rel = "stylesheet" href="css/main.css">
<link rel="stylesheet" href="mt-demo/63700/63707/mt-content/themes/mt-0932/css/stylese65a.css?_build=1496919778"/>
<link rel="stylesheet" href="mt-demo/63700/63707/mt-content/assets/styles736f.css?_build=1496920491" id="moto-website-style"/>
<link rel="canonical" href="../platinumwebsite/index.html" />
<!-- Mobile Devices Viewport Resset-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<style>
@import url(http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic|Merriweather:300,300italic,regular,italic,700,700italic,900,900italic|Merriweather+Sans:300,300italic,regular,italic,700,700italic,800,800italic&amp;subset=latin-ext,latin,cyrillic-ext,cyrillic);
</style>
<!--Google Analytics Tracking Code -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-100363775-1', 'auto');
ga('send', 'pageview');
</script>
				       
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3418722.js"></script>
<!-- End of HubSpot Embed Code -->				       
</head>
<!---BODY-->
<body class="moto-background">
<?php include_once("analyticstracking.php") ?> 
<!--Social Media Links-->
<div class="page">
<header id="section-header" class="header moto-section" data-widget="section" data-container="section">
<div class="moto-widget moto-widget-container moto-container_header_566a9775" data-widget="container" data-container="container" data-css-name="moto-container_header_566a9775">
<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="row" data-spacing="sasa">
<div class="container-fluid">
<div class="row" data-container="container">
<div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column">
<div data-widget-id="wid__social_links__593940fa2e5a6" class="moto-widget moto-widget-social-links moto-preset-3 moto-align-right moto-align-center_mobile-h moto-spacing-top-small  moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-widget="social_links" data-preset="3">
<!--Social Media Links -->
<ul class="moto-widget-social-links-list">
<li class="moto-widget-social-links-item"><a href="https://www.facebook.com/PlatinumSystemEHR/" class="moto-widget-social-links-link moto-widget-social-links-link_facebook" data-provider="facebook" target="_blank"></a></li>
<li class="moto-widget-social-links-item"><a href="https://www.twitter.com/platinum_system/" class="moto-widget-social-links-link moto-widget-social-links-link_twitter" data-provider="twitter" target="_blank"></a></li>
<li class="moto-widget-social-links-item"><a href="https://www.linkedin.com/company-beta/22327426/" class="moto-widget-social-links-link moto-widget-social-links-link_linkedin" data-provider="linkedin" target="_blank"></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<!---->				
<div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="row" data-spacing="sasa" data-draggable-disabled="">
<div class="container-fluid">
<div class="row" data-container="container">
<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column">
</div>
	
<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column">
<div data-widget-id="wid__text__593940fa2ea21" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable">
	
	<p style="text-align: center;" class="moto-text_system_1">
	<a href="index.html" data-action="page" data-id="9" class="moto-link">
	<a href="../platinumwebsite/index.html"><img src ="../platinumwebsite/Img/sitelogo.png"></a><span class="moto-color1_3"></a></p>
	</div>
	</div>
	</div>
	
	<div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column">
	<div data-widget-id="wid__text__593940fa2f4a4" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="sasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable">
	<p style="text-align: right;" class="moto-text_system_2">
	<span class="moto-color1_3">
	<span class="fa"></span></span>
	<a href="callto:#" target="_self" data-action="url" class="moto-link">
    Sales 888-808-4898 <br> 
	Support 888-880-8602</a>
    </p>
    <p style="text-align: right;" class="moto-text_system_10">
	<a data-action="mail" class="moto-link" href="mailto:Info@platinumsystem.com">Info@platinumsystem.com</a></p>
	</div>
	</div>
    </div>
    </div>
    </div>
    </div>
<!---->	
<div class="moto-widget moto-widget-container moto-container_header_59074a411" data-widget="container" data-container="container" data-css-name="moto-container_header_59074a411" data-moto-sticky="{ }">
      <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
      <div class="container-fluid">
      <div class="row" data-container="container">
      <div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column">
      <div data-widget-id="wid__menu__593940fa303a0" class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-widget="menu">
      <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
      <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
     <!--- 
	  <li class="moto-widget-menu-item">
      <a href="../platinumwebsite/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">HOME</a>
      </li> ---->
	  
	
	
	<li class="moto-widget-menu-item">
    <a href="../paltinumwebsite/services/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">EHR SOFTWARE</a>
    </li>
    </li>
	
      <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
      <a href="../platinumwebsite/outsourcedbilling.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">OUTSOURCED BILLING<span class="fa moto-widget-menu-link-arrow"></span></a>
    
    <ul class="moto-widget-menu-sublist">
    <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
    <a href="../platinumwebsite/history/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">OUTSOURCED SMART BILLING SOLUTION<span class="fa moto-widget-menu-link-arrow"></span></a>
    
    <ul class="moto-widget-menu-sublist">
    <li class="moto-widget-menu-item">
    <a href="../platinumwebsite/cases/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">CASES</a>
    </li>
    
    <li class="moto-widget-menu-item">
    <a href="../platinumwebsite/faqs/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">FAQs</a>
    </li>
    </ul>
    </li>
    
    </ul>
    </li>
	<li class="moto-widget-menu-item">
    <a href="../platinumwebsite/cases/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">TESTIMONIALS</a>
    </li>
	
<li class="moto-widget-menu-item">
<a href="../platinumwebsite/pricing.html" data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">PRICING</a></li>
	
<li class="moto-widget-menu-item"><a href="..\platinumwebsite\contacts.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">CONTACTS</a></li>
	
<li class="moto-widget-menu-item"><a href="../platinumwebsite/Training/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">TRAINING</a></li>
	
<li class="moto-widget-menu-item">     
</ul>
    </div>
	</div>
	</div>
	</div>
	</div>
	</div>                    
	</header>

        <section id="section-content" class="content page-12 moto-section" data-widget="section" data-container="section">
                            <div class="moto-widget moto-widget-container moto-background-fixed moto-container_content_59083f3c51f2f" data-widget="container" data-container="container" data-css-name="moto-container_content_59083f3c51f2f" data-draggable-disabled=""><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="row" data-spacing="lala" data-draggable-disabled=""><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div data-widget-id="wid__spacer__593940fc7094c" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_desktop"
    data-widget="spacer" data-preset="default" data-spacing="laaa" data-visible-on="desktop">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div><div data-widget-id="wid__text__593940fc70ab6" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_3"><span class="moto-color5_5">Real cases</span></p><p style="text-align: center;" class="moto-text_normal"><br></p><p style="text-align: center;" class="moto-text_system_4">Any company’s level of expertise, trustworthiness or popularity can be easily checked when it comes to proven cases…</p><p style="text-align: center;" class="moto-text_normal"><span class="moto-color5_5"></span><br></p><p style="text-align: center;" class="moto-text_normal"><span class="moto-color5_5">We stockpiled hundreds of successful business consulting operations throughout the 25 years long history we’re in this business. Here are the best examples of our diligent and efficient advice for small and big companies.</span></p></div>
</div>


<div data-widget-id="wid__spacer__593940fc71e8b" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_desktop"
    data-widget="spacer" data-preset="default" data-spacing="laaa" data-visible-on="desktop">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div></div></div></div></div></div>                                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="laaa"><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_59083f3c560f9" data-widget="container" data-container="container" data-css-name="moto-container_content_59083f3c560f9"><div data-widget-id="wid__image__593940fc723fe" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_services_logo01.png" class="moto-widget-image-picture lazyload" data-id="189" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc725e5" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Dream Team</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">While working with Dream Team&nbsp;automotive company, we conducted few vital market researches and helped to implement a crucial business strategy.</p></div>
</div>


</div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_59083f3c56582" data-widget="container" data-container="container" data-css-name="moto-container_content_59083f3c56582"><div data-widget-id="wid__image__593940fc72921" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_services_logo02.png" class="moto-widget-image-picture lazyload" data-id="190" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc72aaf" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Janny Choos</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">This legendary car brand used our Interim management tips back in 2008, and averted the Great Recession slip with our timely help.</p><p style="text-align: center;" class="moto-text_normal">&nbsp;</p></div>
</div>


</div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_59083f3c56a64" data-widget="container" data-container="container" data-css-name="moto-container_content_59083f3c56a64"><div data-widget-id="wid__image__593940fc72e21" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_services_logo03.png" class="moto-widget-image-picture lazyload" data-id="191" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc72fad" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">World news</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">Harley-Davidson Inc is an American motorcycle manufacturer. We, together with the US govt helped to diverge the fiscal disaster.</p><p style="text-align: center;" class="moto-text_normal">&nbsp;</p></div>
</div>


</div></div></div></div></div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_59083f3c56f1b" data-widget="container" data-container="container" data-css-name="moto-container_content_59083f3c56f1b"><div data-widget-id="wid__image__593940fc73279" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_services_logo04.png" class="moto-widget-image-picture lazyload" data-id="192" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc7341a" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Strong</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">An all-American chain, that recovered after dropping in sales in 2008 and since then returned great year-by-year growth…</p></div>
</div>


</div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_59083f3c573ca" data-widget="container" data-container="container" data-css-name="moto-container_content_59083f3c573ca"><div data-widget-id="wid__image__593940fc736e5" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_services_logo05.png" class="moto-widget-image-picture lazyload" data-id="193" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc7386e" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Smart One</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">An online service unlike any other, which we helped to sketch out and put to action a comprehensive investment planning for.</p></div>
</div>


</div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_59083f3c57875" data-widget="container" data-container="container" data-css-name="moto-container_content_59083f3c57875"><div data-widget-id="wid__image__593940fc73bcb" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_services_logo06.png" class="moto-widget-image-picture lazyload" data-id="194" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc73daa" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Aqua</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">General Motors suffered a severe setback in sales and overall market value. We, together with the US govt helped to diverge the fiscal disaster.</p></div>
</div>


</div></div></div></div></div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_590841cd9" data-widget="container" data-container="container" data-css-name="moto-container_content_590841cd9"><div data-widget-id="wid__image__593940fc7403b" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_cases_logo07.png" class="moto-widget-image-picture lazyload" data-id="197" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc741ca" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Olio Company</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">Manufacturer trucks and offers a broad range of services for the over-the-road, construction, municipal and medium duty markets.</p></div>
</div>


</div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_5908423410" data-widget="container" data-container="container" data-css-name="moto-container_content_5908423410"><div data-widget-id="wid__image__593940fc744ef" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_cases_logo08.png" class="moto-widget-image-picture lazyload" data-id="198" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc7467c" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Richard White</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">BenQ&nbsp;Corporation is a Taiwanese multi-national company that sells and markets technology products, consumer electronics, computing.</p></div>
</div>


</div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_5908428811" data-widget="container" data-container="container" data-css-name="moto-container_content_5908428811"><div data-widget-id="wid__image__593940fc749c6" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_cases_logo09.png" class="moto-widget-image-picture lazyload" data-id="199" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc74ba9" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Compact</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">Compaq was a company founded in 1982, offerings include Presario notebooks and laptop PCs, desktops and computer accessories.</p></div>
</div>


</div></div></div></div></div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_590842e712" data-widget="container" data-container="container" data-css-name="moto-container_content_590842e712"><div data-widget-id="wid__image__593940fc74e92" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_cases_logo10.png" class="moto-widget-image-picture lazyload" data-id="200" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc7508f" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Bingo</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">That’s just one of the hardware/software industry leaders whom we consult on business strategic planning…</p><p style="text-align: center;" class="moto-text_normal">&nbsp;</p></div>
</div>


</div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_5908433613" data-widget="container" data-container="container" data-css-name="moto-container_content_5908433613"><div data-widget-id="wid__image__593940fc75588" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_cases_logo11.png" class="moto-widget-image-picture lazyload" data-id="201" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc75794" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Be Clener</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">Maxdata was a German company that produced IT products, such as computers, notebooks and monitors.</p><p style="text-align: center;" class="moto-text_normal">&nbsp;</p></div>
</div>


</div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div class="moto-widget moto-widget-container moto-container_content_5908438a14" data-widget="container" data-container="container" data-css-name="moto-container_content_5908438a14" data-draggable-disabled=""><div data-widget-id="wid__image__593940fc75bda" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="default" data-widget="image">
                        <div class="moto-widget-image-link">
                <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_cases_logo12.png" class="moto-widget-image-picture lazyload" data-id="202" title=""  alt="" draggable="false">
            </div>
            </div><div data-widget-id="wid__text__593940fc75d73" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8"><a href="http://demolink.motocms.com/" target="_self" data-action="url" class="moto-link"><span class="moto-color1_3">Domino</span></a></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">It’s one of our oldest returning clients. Their year-by-year growth, achieved in big part thanks to our advice, is the reason.</p></div>
</div>


</div></div></div></div></div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="maaa"><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div data-widget-id="wid__text__593940fc76101" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_5">Latest news</p><p style="text-align: center;" class="moto-text_system_4">the most recent info</p></div>
</div>


<div class="moto-widget moto-widget-row moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="maaa"><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div data-widget-id="wid__image__593940fc763b1" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-preset="default" data-widget="image">
                                        <a class="moto-widget-image-link moto-link" href="../blog/index.html"   data-action="blog.index">
                    <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_home_img-1.jpg" class="moto-widget-image-picture lazyload" data-id="207" title=""  alt="" draggable="false">
                </a>
                        </div><div data-widget-id="wid__text__593940fc76c38" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_210">Jul 26, 2016 &nbsp;<span class="moto-color_custom5">by&nbsp;admin</span></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_system_7"><a href="../blog/index.html" data-action="blog.index" data-id="3" class="moto-link">Things I’ve Learned about Investing and Business</a></p></div>
</div>


<div data-widget-id="wid__button__593940fc7763c" class="moto-widget moto-widget-button moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto " data-widget="button" data-preset="default">
            <a href="../blog/index.html"   data-action="blog.index" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">READ MORE</span></a>
    </div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div data-widget-id="wid__image__593940fc777d7" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-preset="default" data-widget="image">
                                        <a class="moto-widget-image-link moto-link" href="../blog/index.html"   data-action="blog.index">
                    <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_home_img-2.jpg" class="moto-widget-image-picture lazyload" data-id="208" title=""  alt="" draggable="false">
                </a>
                        </div><div data-widget-id="wid__text__593940fc779c2" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_210">16.06.2016 &nbsp; <span class="moto-color_custom5">by&nbsp;admin</span></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_system_7"><a href="../blog/index.html" data-action="blog.index" data-id="3" class="moto-link">LinkedIn Stock Downgraded After Microsoft Deal</a></p></div>
</div>


<div data-widget-id="wid__button__593940fc77c7b" class="moto-widget moto-widget-button moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto " data-widget="button" data-preset="default">
            <a href="../blog/index.html"   data-action="blog.index" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">READ MORE</span></a>
    </div></div><div class="moto-cell col-sm-4 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div data-widget-id="wid__image__593940fc77dfb" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-preset="default" data-widget="image">
                                        <a class="moto-widget-image-link moto-link" href="../blog/index.html"   data-action="blog.index">
                    <img data-src="/mt-demo/63700/63707/mt-content/uploads/2017/05/mt-932_home_img-3.jpg" class="moto-widget-image-picture lazyload" data-id="209" title=""  alt="" draggable="false">
                </a>
                        </div><div data-widget-id="wid__text__593940fc77fb4" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_210">17.05.2016 &nbsp; <span class="moto-color_custom5">by&nbsp;admin</span></p><p style="text-align: center;" class="moto-text_213">&nbsp;</p><p style="text-align: center;" class="moto-text_system_7"><a href="../blog/index.html" data-action="blog.index" data-id="3" class="moto-link">London SE in Frankfurt?</a></p></div>
</div>


<div data-widget-id="wid__button__593940fc782b2" class="moto-widget moto-widget-button moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto " data-widget="button" data-preset="default">
            <a href="../blog/index.html"   data-action="blog.index" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">READ MORE</span></a>
    </div></div></div></div></div></div></div></div></div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="row" data-spacing="mala"><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div data-widget-id="wid__text__593940fc7841b" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_5">Request</p><p style="text-align: center;" class="moto-text_system_4">a free consultation</p></div>
</div>


<div class="moto-widget moto-widget-row moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="maaa"><div class="container-fluid"><div class="row" data-container="container"><div class="moto-cell col-sm-2 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"></div><div class="moto-cell col-sm-8 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"><div data-widget-id="wid__text__593940fc788be" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_normal">Would you like to speak to one of our financial advisers? Just submit your contact details and we’ll be in touch shortly. You can also email us if you prefer that type of communication.</p><p style="text-align: center;" class="moto-text_normal"><br></p><p style="text-align: center;" class="moto-text_system_9">I would like to discuss<br></p></div>
</div>


<div data-widget-id="wid__contact_form__593940fc791e0" class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-preset="default" data-widget="contact_form" data-spacing="saaa">
    <div ng-controller="widget.ContactForm.Controller" ng-init="hash = '1@Q+hOMOVukdjCLOunxcIPMFfEQ51ooVOIFQfqu/iQqd6UGm+T88fyZcAb2MRhQ7xty76ekPPM4XW22ruQgGvdLeFoBtmZmgt4YMv004EINATuCYD/Qy98aMl9d2bzawtzD/OGVyS8UaBj+zQCCfiDHX6h8xb0fi/ndJmzDhDwQrE='">
        
        <form class="moto-widget-contact_form-form" role="form" name="contactForm" ng-submit="submit()" novalidate>
            <div ng-show="sending" class="contact-form-loading"></div>
            
                
                    
                        <div class="moto-widget-contact_form-group">
                            <label for="field_name" class="moto-widget-contact_form-label">your name</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="your name *"  ng-blur="validate('name')" required  ng-model-options="{ updateOn: 'blur' }" name="name" id="field_name" ng-model="message.name"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid" >Field is required</span>
                                <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.emailInvalid && !contactForm.name.$pristine" >Incorrect email</span>
                                                    </div>

                    
                
            
                
                    
                        <div class="moto-widget-contact_form-group">
                            <label for="field_email" class="moto-widget-contact_form-label">your e-mail</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="your e-mail *"  ng-blur="validate('email')" required  ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email" ng-model="message.email"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid" >Field is required</span>
                                <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine" >Incorrect email</span>
                                                    </div>

                    
                
            
                
            
                
            
                
            
                
            
                
                    
                        <div class="moto-widget-contact_form-group">
                            <label for="field_message" class="moto-widget-contact_form-label">your message</label>
                            <textarea class="moto-widget-contact_form-field moto-widget-contact_form-textarea" rows="3" placeholder="your message "  ng-model-options="{ updateOn: 'blur' }" name="message" id="field_message" ng-model="message.message"></textarea>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" >Field is required</span>
                                                    </div>

                    
                
            
            
                <div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="emailSent">
                    Your message was sent successfully
                </div>

                <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError">
                    Sorry, your message was not sent
                </div>

            
            <div class="moto-widget-contact_form-buttons">

            
                <div class="moto-widget moto-widget-button moto-preset-default moto-align-center" data-preset="default" data-align="center">
                    <a ng-click="submit();" class="moto-widget-button-link moto-size-medium"
                       data-size="medium"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">SUBMIT</span></a>
                </div>
                <button type="submit" class="hidden"></button>

            
            </div>

        </form>
    </div>
</div></div><div class="moto-cell col-sm-2 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column"></div></div></div></div></div></div></div></div>                    </section>
    </div>

                                                                                                                                   
                                                                                                                                   
<footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section" data-moto-sticky="{mode:'smallHeight', direction:'bottom'}">
<div class="moto-widget moto-widget-container moto-container_footer_59074de52" data-widget="container" data-container="container" data-css-name="moto-container_footer_59074de52" data-draggable-disabled="">
<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="laaa">
<div class="container-fluid">
<div class="row">

<!---->

<div class="moto-cell col-sm-3" data-container="container">
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa"><div class="moto-widget-text-content moto-widget-text-editable">
<p class="moto-text_system_6">
<a data-action="page" data-id="9" class="moto-link" href="index.html">
<span class="moto-color1_3"><a href="../platinumwebsite/index.html"><img src ="..\platinumwebsite\Img\sitelogo.png"></a></span></a></p>
</div>
</div>

<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sama">
<div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal">Platinum System’s philosophy is unique in many ways. We believe in a human to human approach for service. Although we have great help files to support our system, we chose to build a high quality support & training center.For information and for all of your concerns, we recommend that you call our 1-866-235-3284 toll free number and you will be speaking to a courteous and knowledgeable support agent within seconds.</p><p></p><p class="moto-text_209"><a href="../platinumwebsite/free30daytrail.html"><img src="../platinumwebsite/Img/button_day-free-trail.png"></a><!----></p>
</div>
</div>
</div>

<div class="moto-cell col-sm-3" data-container="container">
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama"><div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_14">NAVIGATION</p>

<p class="moto-text_system_14"><br></p>
<p class="moto-text_system_14"><br></p>
<p class="moto-text_system_12">
<a href="services/index.html" data-action="page" data-id="10" class="moto-link">EHR Software<br></a>
<a href="services/index.html" data-action="page" data-id="11" class="moto-link">Outsourced Billing<br></a>
<a href="cases/index.html" data-action="page" data-id="12" class="moto-link">Testimonials</a><br></p>
<p class="moto-text_system_12">
<a href="blog/index.html" data-action="blog.index" data-id="3" class="moto-link">Pricing</a><br></p>
<p class="moto-text_system_12">
<a href="contacts/index.html" data-action="page" data-id="13" class="moto-link">
<span style="letter-spacing: 0px;">Contacts</span></a></p>
<p class="moto-text_system_12">
<a href="Training/index.html" data-action="page" data-id="13" class="moto-link">
<span style="letter-spacing: 0px;">Training</span></a></p>
</div>
</div>
</div>

<div class="moto-cell col-sm-3" data-container="container">
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama">
<div class="moto-widget-text-content moto-widget-text-editable">
<p class="moto-text_system_14">SUBSCRIBE</p>
<p class="moto-text_system_14"><br></p>
<p class="moto-text_system_14"><br></p>
<p class="moto-text_209">Fill out registration form to purchase your own Platinum System or begin 30 day trial.&nbsp;<br><a href="subscribe.html">
<br></p><p class="moto-text_213"><br></p><p></p>&nbsp;&nbsp;<img src="../platinumwebsite/Img/button_subscribe-here.png">
<p class="moto-text_system_12"><a data-action="mail" class="moto-link" href="mailto:hayford@demolink.org">Info@platinumsystem.com </a></p></a>
</div>
</div>
</div>

<div class="moto-cell col-sm-3" data-container="container">
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama">
<div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_14">REQUEST A DEMO</p><p class="moto-text_system_14"><br></p><p class="moto-text_system_14"><br></p>
<p class="moto-text_209">A Platinum System representative will guide you through the program and answer any questions you may have.</p><p class="moto-text_213"><br></p><p class="moto-text_209"><!----></p><p class="moto-text_213"><br></p><p></p><p></p>

<p class="moto-text_209" float="right" margin="0 0 10px 10px"><a href="demo.html"><img src="../platinumwebsite/Img/button_demo.png"></a><!----></p>

<p class="moto-text_209" float="right" margin="0 0 10px 10px"><a href="https://platinum.screenconnect.com/"><img src="../platinumwebsite/Img/settings-icon-2.png"></a><!----></p>
	</div>
</div>
</div>
</div>
</div>
</div>
	
	
	
	
<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="row" data-draggable-disabled="" data-spacing="mama">
<div class="container-fluid">
<div class="row">
<div class="moto-cell col-sm-12" data-container="container">
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-draggable-disabled="" data-spacing="aama"><div class="moto-widget-text-content moto-widget-text-editable">

<p style="text-align: center;" class="moto-text_system_11">2017 © Technation. All rights reserved. |&nbsp;

<a href="privacy-policy/index.html" data-action="page" data-id="14" class="moto-link"></a>Designed by <a target="_self" data-action="url" class="moto-link" href="https://technation246.com/">technation246.com</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>            
</footer>

<div data-moto-back-to-top-button class="moto-back-to-top-button"></div>
<script src="mt-includes/js/website.assets.min16bc.js?_build=1496915324" type="text/javascript" data-cfasync="false"></script>
<script type="text/javascript" data-cfasync="false">
        var websiteConfig = websiteConfig || {};
        websiteConfig.address = 'index.html';
        websiteConfig.apiUrl = 'api.json';
        websiteConfig.preferredLanguage = 'en';
        websiteConfig.back_to_top_button = {"enabled":true,"topOffset":300,"animationTime":500};
        angular.module('website.plugins', []);
</script>
<script type="text/javascript">
	var trackcmp_email = '';
	var trackcmp = document.createElement("script");
	trackcmp.async = true;
	trackcmp.type = 'text/javascript';
	trackcmp.src = '//trackcmp.net/visit?actid=475288787&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
	var trackcmp_s = document.getElementsByTagName("script");
	if (trackcmp_s.length) {
		trackcmp_s[0].parentNode.appendChild(trackcmp);
	} else {
		var trackcmp_h = document.getElementsByTagName("head");
		trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
	}
</script>
<script src="mt-includes/js/website.minb60c.js?_build=1496915316" type="text/javascript" data-cfasync="false"></script>
   
</body>
</html>
            
    
    
</body>

</html>
